/*
COLOR PALETTE

Navy Blue: #0A1128
Dark Blue: #001F54
Sea Blue: #034078
Teal: #1282A2
Off White: #FFFCFB

*/

/* Variables */
/*-------------------*/
:root{
    --navyBlue: #0A1128;
    --darkBlue: #001F54;
    --seaBlue: #034078;
    --teal: #1282A2;
    --offWhite: #FFFCFB;
}

/* Global Styles */
/*-------------------*/

html, body {
    height: 100%;
}

body {
    background-color: var(--offWhite);
}

html {
    box-sizing: border-box;
}

*, *before, *after {
    box-sizing: inherit;
}

/* links */
a {
    color: black;
    text-decoration: none;
}
a:hover{
    color: var(--teal);
    text-decoration: underline;
}

footer a{
    color: #fffcfb;
}

.btn {
    background: var(--seaBlue);
    color: var(--offWhite);
    text-decoration: none;
}

.content-wrapper{
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
}

/* Home Page */
/*-------------------*/
.home {
    background: url(../images/bg-home-office-city.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.home .content-wrapper{
    flex: 1 0 auto;
}

.content-bg{
    background: rgb(255 252 251 / 0.9);
    padding: 30px;
}



/* Resume Page */
/*-------------------*/

.resume header::before {
    background: url(../images/bg-coffee-shop.jpg) center / cover;
    content: "";
    display: block;
    height: 375px;
    
}

.resume-section{
    margin-bottom: 50px;
}

.resume-section h2{
    border-bottom: 3px double var(--navyBlue);
}

.project-item {
    opacity: 0;
    transform: translateX(300px);
    transition: opacity 1.5s, transform 1.5s;
    display: flow-root;
    margin: 30px 0;
}

.project-item.slide-in{
    opacity: 1;
    transform: translateX(0px);
}

.project-item img{
    width: 300px;
    float: left;
    margin-right: 10px;
}

.work-item{
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 25px;
}

/* Footer */
/*-------------------*/

footer{
    background-color: var(--navyBlue);
    color: var(--offWhite);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.socials{
    list-style-type: none;
    padding: 0;
}

.socials li{
    display: inline-block;
    margin-left: 10px;
}

.socials img{
    width: 32px;
}

.socials img:hover{
    opacity: 0.5;
}