/* Color Palette */
/*--------------------*/
:root {
    
    /*Dark Mode Colors*/
    --darkMain: #424e66;
    --darkBack: #020a55;
    --darkHighlight: #93a5be;
    --darkText: #f2f2f2;
    
    
}

/* Fonts */
/*--------------------*/

@font-face {
    font-family: 'silkscreen';
    src: url('fonts/slkscr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.silkscreen {font-family: silkscreen, sans-serif}

/* Global Styles */
/*--------------------*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
    overflow: hidden;
    /* setting default to 10px*/
}

html,
body {
    height: 100%;
}

body {
    font-family: silkscreen, sans-serif;
    color: var(--darkText);
    background-size: cover;
    background-color: var(--darkBack);
    display: flex;
    flex-direction:column;
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 0;
}

#scene-container {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url("../assets/skybox.jpg") no-repeat center center;
    background-size: cover;
    margin: 0 auto;
}

*, *before, *after{
    box-sizing: inherit;
}

.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 1200px;
}

.grid-wrapper{
    margin: 0 auto;
    padding: inherit;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

/*Page Content*/
/*--------------------*/

.page-content {
    background-color: var(--darkMain);
    width: 100%;
    padding: 10px;
}

.page-content img{
    margin: 0 auto;
    display: block;
    height: 30vh;
}

.page-content h1{
    background-color: var(--darkHighlight);
    font-size: 3rem;
    margin: 0;
    padding: 0 10px;
}

.image-container {
    padding: 0;
    margin: 15px;
    background-color: var(--darkBack);
    max-height: 30vh;
}

.description {
    background-color: var(--darkHighlight);
    width: 900px;
    max-height: 40vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--darkBack) var(--darkMain);
}

.description p{
    padding: 0 5px;
}

/* Project Menu */
/*--------------------*/

.project-item{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.project-item h1{
    text-align: center;
}

/*
.project-item {
    background-color: var(--darkMain);
    padding: 5px;
    border: 5px solid;
    border-color: var(--darkHighlight) var(--darkBack) var(--darkBack) var(--darkHighlight);
    display: flex;
    text-decoration: none;
}
*/

.project-item img{
    padding: 5px;
    width: 100px;
}

/*
.project-item:hover{
    opacity: 75%;
}

.project-item:active{
    border-color: var(--darkBack) var(--darkHighlight) var(--darkHighlight) var(--darkBack);
}
*/

.project-item, .item-text{
    text-decoration: none;
    color: var(--darkText);
}

.item-text p{
    margin: 0;
}

.item-text h1{
    font-size: 2rem;
    margin: 0;
}


/* Nav Bar */
/*--------------------*/
header {
    padding: 10px;
    font-size: 3rem;
    display: flex;
    align-items: center;
    gap: 40px;
    border-bottom: ridge var(--darkHighlight) 5px;
    background-color: var(--darkMain);
}

.logo{
    width: 100px;
}

.gutter{
    padding: 0px;
    border: 5px ridge;
    border-color: var(--darkBack) var(--darkHighlight) var(--darkHighlight) var(--darkBack);
}

clock {
    padding: 0px 15px;
}

nav {
    display: flex;
    flex: 1 0 auto;
    list-style-type: none;
    gap: 20px;
}

nav .btn.start{
    width: auto;
}

nav .btn{
    display: flex;
    margin: auto 0;
    width: 200px;
    text-decoration: none;
    color: var(--darkText);
    border: 5px ridge;
    border-color: var(--darkHighlight) var(--darkBack) var(--darkBack) var(--darkHighlight);
    background-color: var(--darkMain);
    padding: 4;
}

nav .btn:hover{
    opacity: 75%;
}

nav .btn:active{
    border-color: var(--darkBack) var(--darkHighlight) var(--darkHighlight) var(--darkBack);
}

nav .btn img{ /*Smoothing stuff via https://nullsleep.tumblr.com/post/16417178705/how-to-disable-image-smoothing-in-modern-web*/
    margin: auto 2px;
    width: 32px;
    height: auto;
    image-rendering: optimizeSpeed;             /* FUCK SMOOTHING, GIVE ME SPEED  */
 	image-rendering: -moz-crisp-edges;          /* Firefox                        */
 	image-rendering: -o-crisp-edges;            /* Opera                          */
 	image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
 	image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
 	-ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}