:root{
    --backColor: #000000;
    --textColor: #FFFFFF;
    --buttonColor: #303030
}

html{
    font-size: 62.5%;
}

body {
    background-color: var(--backColor);
    margin: 0;
    padding: 0;
    display:flex;
}

.button{
    display:flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: var(--buttonColor);
    color: var(--textColor);
    border: 1px solid;
    text-transform: uppercase;

}

.button img{
    width:100px;
}

#map-display img{
    max-width: 100%;
}

.main-container{
    margin: 0 auto;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#map-display{
    position: fixed;
    z-index: -1;
}

.button-container1{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-row: 1;
}

.button-container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    width: 100vw;
}