:root {
    --backColor: #000000;
    --textColor: #FFFFFF;
    --buttonColor: #303030
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--backColor);
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: var(--buttonColor);
    color: var(--textColor);
    border: 1px solid;
    text-transform: uppercase;

}

.button img {
    width: 100px;
}

.map-img {
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    animation-duration: .5s;
}

#display-img {}

#temp-img {
    transform: translate(150vw, 150vw);
    z-index: 1;
}

/*Containers*/

.main-container {
    position: absolute;
}

.button-container1 {
    position: inherit;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.button-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    width: 100vw;
}

/*////////////Animations//////////*/
/* Slide in */
@keyframes slideInUp {
    from {
        transform: translateY(150vw);
        opacity: 0;
    }

    to {
        transform: translate(0);
        opacity: 100;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(150vw);
        opacity: 0;
    }

    to {
        transform: translate(0);
        opacity: 100;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(-150vw);
        opacity: 0;
    }

    to {
        transform: translate(0);
        opacity: 100;
    }
}

@keyframes slideInDown {
    from {
        transform: translateY(-150vw);
        opacity: 0;
    }

    to {
        transform: translate(0);
        opacity: 100;
    }
}

/* Slide out */
@keyframes slideOutUp {
    from {
        transform: translate(0);
        opacity: 100;
    }

    to {
        transform: translateY(-150vw);
        opacity: 0;
    }
}

@keyframes slideOutLeft {
    from {
        transform: translate(0);
        opacity: 100;
    }

    to {
        transform: translateX(-150vw);
        opacity: 0;
    }
}

@keyframes slideOutRight {
    from {
        transform: translate(0);
        opacity: 100;
    }

    to {
        transform: translateX(150vw);
        opacity: 0;
    }
}

@keyframes slideOutDown {
    from {
        transform: translate(0);
        opacity: 100;
    }

    to {
        transform: translateY(150vw);
        opacity: 0;
    }
}